@model MotoDB.Models.Motorcycle
@{
    ViewData["Title"] = "Statistics";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Bikes in total:
            </th>
            <th>
                Top Manufacturer:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @ViewBag.totalCount
            </td>
        </tr>
    </tbody>
</table>