@{
    ViewData["Title"] = "Statistics";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Motorcycles DB should be used to store a collection of motorcycles.
    Maybe owned by you or your dream list :)
</p>